{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block content %}
<img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/python-logo.svg') }}" alt="Azure Logo" width="202" height="245"></img>  
<h1 class="display-6 fw-bold">Hello {{name}}</h1>
<img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"></img> 
<p class="fs-5">It is nice to meet you!</p>
<a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
{% endblock %}